# Telegram
BOT_TOKEN=8802670423:AAG6aZBRd7VHYxgJpoB7oQi0NhuL1IJ8FjQ

# VK API credentials
VK_CLIENT_ID=05rnokolkygcx4of
VK_CLIENT_SECRET=JDnwv9XfdhtCeNi7D7BX5Qsr1Mhl2TGrpNfbfco5AdXPH64M43baKNUiNAUZLqLE

# Token endpoint (example: https://api.live.vkvideo.ru/oauth/server/token)
TOKEN_VK_URL=https://api.live.vkvideo.ru/oauth/server/token

# Optional: override base URL if needed
# APIDEV_BASE_URL=https://apidev.live.vkvideo.ru/

